.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__inner-top {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #533738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 38px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  margin-right: 22px;
  color: #533738;
  position: relative;
  line-height: 2;
  cursor: pointer;
}

.header__menu-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25px;
  width: 0;
  height: 1px;
  background-color: black;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header__menu-item:hover::after {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__menu-burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
}

.header__menu-burger span {
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #533738;
  top: 9px;
}

.header__menu-burger::before,
.header__menu-burger::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #533738;
}

.header__menu-burger::before {
  top: 0;
}

.header__menu-burger::after {
  bottom: 0;
}

@media (max-width: 1100px) {
  .header__inner-top {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 1024px) {
  .header__menu, .header__num {
    display: none;
  }
  .header__menu-burger {
    display: block;
  }
}

.intro {
  width: 100%;
  height: 100vh;
  background: url(../img/header.jpg) center no-repeat;
  background-size: cover;
}

.intro__content-inner {
  padding-top: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
  max-width: 534px;
  margin-bottom: 31px;
}

.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  max-width: 493px;
  margin-bottom: 30px;
}

.intro__button, .btn {
  padding: 25px 67px;
  color: #533738;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #CC8B86;
  border: none;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn:hover {
  background-color: #ffffff;
  color: #CC8B86;
  -webkit-box-shadow: inset 0 0 0 1px #080808;
          box-shadow: inset 0 0 0 1px #080808;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 1024px) {
  .intro__content-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 425px) {
  .intro__content-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 520px;
  }
  .intro__title {
    display: none;
  }
  .intro__text {
    font-size: 24px;
    line-height: 45px;
  }
  .intro__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about-us__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  padding-top: 65px;
  padding-bottom: 40px;
  text-align: center;
}

.about-us__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  max-width: 528px;
}

.about-us__text-top {
  padding-bottom: 30px;
}

.about-us__bottom {
  background-color: #8D7370;
  margin-top: 15px;
}

.about-us__items {
  min-height: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.about-us__reach {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-us__num {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "a a . . . . " "b b c c c c " "d d d e e e " ". f f f . . ";
}

.grid__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  min-width: 332px;
  margin-bottom: 20px;
  margin-top: 65px;
}

.grid__item-bed {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: b;
  max-width: 488px;
  max-height: 451px;
  position: relative;
}

.grid__hover-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  max-width: 270px;
  margin-bottom: 30px;
}

.grid__hover-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 418px;
}

.grid__hover-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  color: #FFFFFF;
  background: rgba(100, 72, 69, 0.8);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.grid__hover-item:hover {
  opacity: 1;
}

.grid__item img {
  display: block;
  height: 100%;
}

.grid__item-kitchen {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: c;
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 692px;
  min-height: 451px;
  position: relative;
}

.grid__item-hall {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d;
  max-width: 692px;
  min-height: 451px;
  position: relative;
}

.grid__item-bath {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: e;
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 488px;
  max-height: 451px;
  position: relative;
}

.grid__item-more {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: f;
  text-align: center;
}

.grid__more {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.grid__more svg {
  margin-left: 5px;
}

.grid__more:hover path {
  fill: #cc8b86;
  -webkit-transform: translate(10px);
          transform: translate(10px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.grid__more:focus path {
  fill: #99544f;
}

.grid__more:hover {
  color: #cc8b86;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.team__block {
  background-color: #E2C4BA;
  margin-top: 50px;
}

.team__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 38px;
          column-gap: 38px;
}

.team__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.team__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  text-align: center;
  padding-bottom: 42px;
  padding-top: 50px;
}

.team__steps-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 80px;
}

.steam__steps-item {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  position: relative;
}

.team__steps-num {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8D7370;
  margin: 0 auto 20px auto;
}

.team__steps-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  text-align: center;
}

.reviews__fb-inner {
  max-width: 407px;
  margin-right: 20px;
  padding-top: 90px;
}

.reviews__fb-item {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.reviews__fb-user {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  text-decoration: none;
}

.reviews__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 40px;
}

.reviews__img-item:nth-child(1) {
  margin-bottom: 20px;
}

.reviews__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 65px;
}

.reviews__item {
  position: relative;
}

.reviews__pagination {
  position: absolute;
  top: 48%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 68px;
  height: 68px;
  border: 2px solid #cc8b86;
  border: none;
  border-radius: 50%;
  background-color: #cc8b86;
}

.reviews__button:hover {
  background-color: white;
}

.reviews__button:hover path,
.reviews__button:focus path {
  fill: #cc8b86;
}

.reviews__button:focus {
  border: 2px solid #cc8b86;
  background-color: white;
}

.reviews__button-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact {
  color: white;
  background-color: #8D7370;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form-request {
  padding-right: 20px;
  padding-top: 50px;
}

.contact__form-title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.contact__form-text {
  max-width: 507px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 44px;
}

.contact__form-item p {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
}

.contact__text-input {
  display: block;
  padding-top: 10px;
  padding-bottom: 13px;
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

.contact__label-input {
  position: absolute;
  font-size: 18px;
  bottom: 11px;
  left: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.contact__text-input:focus + .contact__label-input,
.contact__text-input:valid:not(:placeholder-shown) + .contact__label-input {
  opacity: 0;
  bottom: 40px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.footer__num {
  margin-right: 42px;
}

.footer__ip {
  margin-left: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-min {
  width: 100%;
  max-width: 1036px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;
}

body, ul, ol, h1, h2, h3, p, span, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
