.contact{
color: white;
background-color: #8D7370;

}
.contact__form{
display: flex;
}

.contact__form-request{
padding-right: 20px;
padding-top: 50px;
}

.contact__form-title{
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 24px;
}

.contact__form-text{
max-width: 507px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #ffffff;
opacity: 0.6;
margin-bottom: 44px;
}
.contact__form-item p{
position: relative;
margin: 0;
margin-bottom: 24px;
}
.contact__text-input{
display: block;
padding-top: 10px;
padding-bottom: 13px;
font-size: 18px;
width: 100%;
border: none;
border-bottom: 1px solid white;
background-color: transparent;
color: white;
}

.contact__label-input{
position: absolute;
font-size: 18px;
bottom: 11px;
left: 0;
transition: 0.2s ease-in;
}

.contact__text-input:focus + .contact__label-input,
.contact__text-input:valid:not(:placeholder-shown) + .contact__label-input{
opacity: 0;
bottom: 40px;
transition: 0.2s ease-in;
}
