.footer__info{
display: flex;
padding: 37px 0;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: $color_1;
}

.footer__num{
margin-right: 42px;
}

.footer__ip{
margin-left: auto;
}