.reviews__fb-inner{
max-width: 407px;
margin-right: 20px;
padding-top: 90px;
}

.reviews__fb-item{
margin-bottom: 30px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: $color_1;
}

.reviews__fb-user{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: $color_1;
text-decoration: none;
}

.reviews__title{
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: $color_1;
text-align: center;
margin-top: 65px;
margin-bottom: 40px;
}

.reviews__img-item:nth-child(1){
margin-bottom: 20px;
}

.reviews__fb{
display: flex;
justify-content: center;
padding-bottom: 65px;
}

.reviews__item{
position: relative;
}
.reviews__pagination {
position: absolute;
top: 48%;
left: 0;
display: flex;
justify-content: space-between;
width: 100%;
transform: translateY(-50%);
}

.reviews__button {
display: flex;
justify-content: center;
align-items: center;
padding: 0;
width: 68px;
height: 68px;
border: 2px solid #cc8b86;
border: none;
border-radius: 50%;
background-color: #cc8b86;
}

.reviews__button:hover {
background-color: white;
}

.reviews__button:hover path,
.reviews__button:focus path {
fill: #cc8b86;
}

.reviews__button:focus {
border: 2px solid #cc8b86;
background-color: white;
}

.reviews__button-prev svg {
transform: rotate(180deg);
}
